html {
    min-width: 100%;
    font-family: helvetica;
}

article {
    width: 60vw;
    margin: auto;
    font-size: 21px;
}

.context-ui {
    position: absolute;
    border-radius: 0px 0px 5px 5px;
    border: solid 1px black;
    background-color: white;
    padding: 5px;
}

.highlight {
    --highlight-color-cut: orange;
    --highlight-color-keep: cyan;
}

.highlight:hover {
    --highlight-color-cut: darkorange;
    --highlight-color-keep: darkcyan;
}

#highlight-ui {
    position: fixed;
    width: 70vw;
    height: 50vh;
    background-color: #ffffffdd;
    border: 1px solid  black;
    border-radius: 5px;
    left: 15vw;
    top: 25vh;
    padding: 10px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                          supported by Chrome, Edge, Opera and Firefox */
}
