<!doctype HTML>

<html>
  <head>
    <meta charset="urf=8">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet", type="text/css">
    <title>Draft - {{ title }} </title>

  </head>
  <body>
    <context-ui id="selection-ui">
      <button onclick="createHighlight('cut');">Highlight</button>
    </context-ui>
    <div id="highlight-ui" hidden>
      <button>Delete Highlight</button>
      <button onclick="this.parentNode.hidden=true;">Hide Overlay</button>
    </div>
    <article id="main">
      {% block content %}
      {% endblock %}
    </article>
    <script src="{{ url_for('static', filename='js/ui.js') }}"></script>
    <script>
      Highlight.fromJSON({{ highlights | tojson }})
    </script>
  </body>
</html>
