<!doctype HTML>

<html>
  <head>
    <meta charset="urf=8">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet", type="text/css">
    <title>Draft - {% block title %}{% endblock %} </title>

  </head>
  <body>
    <article id="main">
      {% block content %}
      {% endblock %}
    </article>
    <div id="selection-ui" class="hidden noselect">
      This is the UI bar
    </div>
    <script src="{{ url_for('static', filename='js/ui.js') }}"></script>
  </body>
</html>
