<!doctype HTML>

<html>
  <head>
    <meta charset="urf=8">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet", type="text/css">
    <title>Draft - {{ title }} </title>

  </head>
  <body>
    <context-ui id="selection-ui">
      <button class="highlight-button" data-highlight-type="cut"></button>
      <button class="highlight-button" data-highlight-type="keep"></button>
      <button class="highlight-button" data-highlight-type="confusing"></button>
      <button class="highlight-button" data-highlight-type="typo"></button>
      <button class="highlight-button" data-highlight-type="drift"></button>
    </context-ui>
    <context-ui id="highlight-ui" hidden>
      <button onclick="this.context.remove_highlight();">Delete</button>
    </context-ui>
    <div id="menu-bar" class="noselect">
      Mark as
<button class="highlight-button" data-highlight-type="cut"></button>
      <button class="highlight-button" data-highlight-type="keep"></button>
      <button class="highlight-button" data-highlight-type="confusing"></button>
      <button class="highlight-button" data-highlight-type="typo"></button>
      <button class="highlight-button" data-highlight-type="drift"></button>
      <button style="float: right" onclick="showOverlay();">
        Back to info
      </button>
    </div>
    <div id="overlay" class="noselect">
      <div>
        <p class="welcome-text">
          Hey {{ url.name }},
          <br>
          thank you for reading the draft of this post.
          While you read it, keep the following questions in mind.
          When a passage strikes your attention, highlight it and press the appropriate button.
        </p>
        <ul>
          <li>If you had to prune the text, which 10% would you [cut]?
            <br>(if you only look for one thing, look for this)</li>
          <li>Which 10% would you [keep], no matter what?</li>
          <li>What paragraphs do you find [confusing]?</li>
          <li>Did you find a [typo]?</li>
          <li>Where do you loose [focus] while reading?</li>
        </ul>
        <p class="welcome-text">
          Thank you very much for helping me with your feedback!
        </p>
        <a href="#"
           onclick="overlayOnClick(this);"
           style="float:right;">
          Continue to draft
        </a>
      </div>
    </div>
    <article id="main">
      {% block content %}
      {% endblock %}
    </article>
    <script src="{{ url_for('static', filename='js/ui.js') }}"></script>
    <script>
      Highlight.fromJSON({{ highlights | tojson }})

      const URL_PREFIX = '{{ url.url }}';

      document.querySelectorAll('.highlight-button').forEach(b => {
          let type = b.innerHTML = b.getAttribute('data-highlight-type');
          b.addEventListener('click', () => createHighlight(type));
      });

      function overlayOnClick(link) {
          let overlay = document.querySelector('#overlay');

          /*
          document.querySelectorAll('.welcome-text').forEach(e => {
              e.hidden = true;
          });
          */
          
          (link.onclick = () => {
              overlay.classList.add('hidden');
          })();

          link.innerText = "Back to draft";
      }

      function showOverlay() {
        document.querySelector('#overlay').classList.remove('hidden');
      }
    </script>
  </body>
</html>
